@import './base.css';

#app {
  font-weight: normal;
  height: 100vh;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 15fr;
    padding: 0 rem;
  }
}
